{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Подписки{% endblock %}

{% block content %}
  <div class="container py-5">        
    <h1>Посты на авторов</h1>
      {% include 'posts/includes/switcher.html' with follow=True %}

    {% for post in page_obj %}
      {% include 'includes/post_art.html' with author=True date=True group=True %}
    {% endfor %}

    <div class="d-flex justify-content-center">
      {% include 'posts/includes/paginator.html' %}
    </div>
  </div>   
{% endblock %}