{% extends 'base.html' %}
{% load thumbnail %}

{% block title %} Пост {{ post.text|truncatechars:30 }}{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">

            {% include "includes/post_art.html" with author=True group=True post=post %}
            
          <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{ post.author.posts.count }}</span>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        {% if user.id ==  post.author.id %}
          <a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}">
            Редактировать запись
          </a>
        {% endif %}
        {% include 'includes/post_comment.html' %}
      </article>
  </div>
</div>  
{% endblock %}
